#topic_progress_container {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 8%;
    left: 8%;

    width: 84%;
    height: 84%;
}

#topic_progress_container .closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1000;
}

#topic_progress {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 10%;
    left: 10%;

    width: 80%;
    height: 80%;
    background: rgba(210, 255, 98, 0.5);
}



#topic_progress #topic_progress_svg {
    height: 100%;
    width: 100%;
    background: rgba(210, 255, 255, 0.5);
}